---
# tasks file for ansible-role-release-hostname/

- name: "Delete hostname from the backend"
  uri:
    url: http://{{ hostname_svc_addr }}:{{ hostname_svc_port }}/hostname/delete/{{ vm_name }}
    method: DELETE
    status_code: 200
  register: delete_inventory_hostname
  ignore_errors: yes

- debug:
    msg: "{{ delete_inventory_hostname }}"
