---
# tasks file for test-get-vms

- name: "Get Service VMs"
  uri:
    url: https://{{ rhcf_host }}/api/services/{{ service_id }}?expand=resources&attributes=vms
    method: GET
    user: "{{ rhcf_username }}"
    password: "{{ rhcf_password }}"
    return_content: yes
    validate_certs: False
    headers:
      Content-Type: "application/json"
    status_code: 200, 201
  register: workflow_result

- name: Show Workflow Result
  debug: var=workflow_result

- name: Show Workflow Result
  debug: 
    msg: "{{ item.name }}"
  with_items: "{{ workflow_result.json.vms }}"

- name: Show Workflow Result
  debug:
    msg: "{{ workflow_result.json.vms|length }}"
